@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  position: relative;
}

:root {
  --bar-width: 40px;
  --bar-height: 5px;
  --hamburger-gap: 4px;
  --foreground: #333;
  --background: #fff;
  --hamburger-margin: 20px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

header {
  min-height: calc(var(--hamburger-height) + var(--hamburger-margin) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: '';
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 10px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), background-color var(--animation-timing),
    translate var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked),
.hamburger-menu-active {
  --foreground: #fff;
  --background: #333;
}

.hamburger-menu:has(input:checked)::before,
.hamburger-menu-active::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after,
.hamburger-menu-active::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 40vw;
  background-color: var(--foreground);
  color: var(--background);
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 20px);
  padding-left: 5vw;
  transform: translateX(-100%);
  transition: transform var(--animation-timing);
}

.sidebar-visible {
  transform: translateX(0);
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigationImage {
  opacity: 0;
  transform: translateY(10px);
  /* Start below the original position */
  visibility: hidden;
  /* position: absolute; */
  height: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out, visibility 0s 0.5s, height 0.5s ease-in-out;
  /* Visibility hides after the fade */
}

.isShowing {
  opacity: 1;
  transform: translateY(0);
  /* Move to the original position */
  visibility: visible;
  margin-bottom: 0.75rem;
  height: 40px;
  position: relative;
  /* Make it take up space when visible */
  transition: opacity 0.5s ease-in-out, transform 0.7s ease-in-out, visibility 0s, height 0.7s ease-in-out;
  /* No delay on visibility when showing */
}


.navigationGrow {
  width: 70px;
  height: 200px;
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
}

.navigationShrink {
  width: 50px;
  height: 100px;
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    position: relative;
    height: auto;
    padding: 0;
    transform: none;
    width: max-content;
    margin-right: 20px;
  }

  .list {
    flex-direction: row;
  }

  .hamburger-menu {
    display: none;
  }
}